@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body, html, .app {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #F9FAFB;
    color: #111827;
    min-height: 100vh;
}

.main {
    padding-top: 100px;
    width: 100%;
    box-sizing: border-box;
}